.app {
    width: inherit;
    height: 700px;
    display: flex;
    text-align: center;
}

.timer {
    margin: auto;
    width: 300px;
    padding: 2%;
    border: 2px solid #333333;
    border-radius: 20px;
}

.timer-numbers {
    display: flex;
    font-size: 50px;
    border: 1px solid #333333;

}

.timer-numbers span {
    margin: auto 0;
}

.number {
    margin: auto;
}

.button-block {
    margin: 3% 0;
}

.button-block button {
    background-color: inherit;
    border: 2px solid #333333;
    font-family: "Arial Nova";
    font-size: 1.5em;
    margin: 1%;
    border-radius: 10px;
    outline-offset: 0;
    outline: 0;
}

.button-block button:hover {
    color: #ffffff;
    background-color: #333333;
    transition: .4s;
}

.button-block button:active {
    box-shadow: 0 0 3px #333333;
}